@import '~nativescript-theme-core/css/core.light.css';

.form-control {
    margin: 20 20;
    border-bottom-width: 1;
    border-color: #501870;
}

.drawer-container {
    background: linear-gradient(140deg, #2b0c72, #5c3fa0);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20;
}
